---
import Icon from "@millstreamwebsoftware/mws-astro/shared/icon.astro";

export interface Props {
  title: string;
  link: string;
  new_tab?: boolean;
  selected?: "selected" | "ancestor" | false;
  key?: string;
  d?: number;
}

const { title, link, selected, key, d } = Astro.props;

const external = /^[A-z1-9+.-]*:\/\/.*/.test(link);

const new_tab =
  (Astro.props.new_tab ?? external)
    ? { target: "_blank", rel: "noopener" }
    : {};
---

<a
  id={key}
  href={link}
  class:list={[
    { external, selected: selected === "selected" },
    "navi-label",
    { [`d${d}`]: d },
  ]}
  data-depth={d}
  {...new_tab}
  >{title}{external && <Icon name="carbon:launch" height="1em" />}
</a>

<style>
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;

    color: inherit;
    font-size: var(--header-font-size);
    font-weight: inherit;
    padding: var(--header-item-padding);
    border-radius: var(--header-item-border-radius);

    text-decoration: none;

    &:hover {
      color: oklch(from var(--header-hover-color, currentColor) l c h);
      background-color: oklch(from var(--header-hover-background-color) l c h);
    }

    &.selected {
      font-weight: bold;
    }
  }
</style>
