---
export interface Props {
  name: string;
  label: string;
  placeholder: string;
  required: boolean;
  minlength: number;
  maxlength: number;
  key?: string;
}

const { name, label, placeholder, required, key } = Astro.props;
const minlength = Astro.props.minlength ? Astro.props.minlength : undefined;
const maxlength = Astro.props.maxlength ? Astro.props.maxlength : undefined;
const id = (name || "") + "-" + (key || "");
---

<div class="input textarea">
  <label for={id}>{label}</label>
  <textarea
    {id}
    name={name}
    {required}
    placeholder={placeholder}
    minlength={minlength}
    maxlength={maxlength}></textarea>
</div>
