---
import preferences from "data/preferences.json";
import Navigation from "./Navigation.astro";
import Social from "@components/social/social.astro";

export interface Props {
  id?: string;
  currentPath?: string;
  paths?: any[];
}

const { id, currentPath, paths } = Astro.props;

const headerItems: Record<string, boolean> = {
  logo: preferences.header.show_logo,
  navigation: preferences.header.show_navigation,
  social: preferences.header.show_socials,
};
const headerAreas =
  '"' +
  Object.keys(headerItems)
    .filter((k) => headerItems[k])
    .join(" ") +
  '"';
---

<header
  class:list={{ pinned: preferences.header.pin_header }}
  style={`--text-color: var(--header-color);` +
    `--header-areas: ${headerAreas};`}
>
  {
    preferences.header.show_logo && (
      <a class="logo" href="/">
        <img src={preferences.header.logo_image} />
      </a>
    )
  }
  {
    preferences.header.show_navigation && (
      <Navigation {id} {paths} {currentPath} />
    )
  }
  {preferences.header.show_socials && <Social />}
</header>

<style>
  header {
    color: rgb(var(--header-color));
    display: grid;
    grid-template-areas: var(--header-areas);
    grid-template-rows: 100%;
    z-index: 9999;
    height: var(--header-height);
    background: linear-gradient(
      to bottom,
      rgba(var(--header-background-color)),
      rgba(var(--header-background-color-bottom))
    );
  }

  header.pinned {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: calc(100% - var(--header-height));
  }

  .logo {
    padding: 10px;
  }

  .logo img {
    object-fit: contain;
    object-position: left;
    width: 100%;
    height: 100%;
  }
</style>
