---
import preferences from "data/preferences.json";
import { Debug } from "astro/components";

export interface Props {
  pages?: any;
  id?: string;
  depth?: number;
  currentPath?: string;
  paths?: any[];
}

interface PageTree {
  children?: any;
  parent: PageTree | undefined;
  title?: string;
  slug?: string;
  id?: string;
  selected?: boolean;
}

function makeTree(pages: any, currentPath?: string) {
  const pageTree: PageTree = {
    children: {},
    parent: undefined,
    selected: false,
  };

  const filteredPages = pages.filter(
    (page: any) => page.props.page.data.status === "online"
  );

  const sortedPages = filteredPages.sort(
    (a: any, b: any) =>
      (a.params.slug?.split("/").length || 0) -
        (b.params.slug?.split("/").length || 0) ||
      a.props.page.data.order - b.props.page.data.order
  );

  sortedPages.forEach((page: any) => {
    let path = page.params.slug?.replace(/\/?index$/, "").split("/") || [""];

    let cursor = pageTree;
    let selected = page.params.slug === currentPath;

    for (var i = 0; i < path.length; i++) {
      if (!("children" in cursor)) {
        cursor.children = {};
      }

      if (!(path[i] in cursor?.children)) {
        cursor.children[path[i]] = {
          parent: undefined,
          title: path[i]
            .replaceAll("-", " ")
            .replace(
              /\w\S*/g,
              (t: string) =>
                t.charAt(0).toUpperCase() + t.substring(1).toLowerCase()
            ),
          selected,
        };
      }

      cursor.selected = selected;

      cursor = cursor.children[path[i]];

      if (i + 1 == path.length) {
        cursor.id = page.props.page.id;
        cursor.slug = page.params.slug || "";
        Object.assign(cursor, page.props.page.data);
      }
    }
  });

  return pageTree;
}

const { id } = Astro.props;
const depth = typeof Astro.props.depth === "number" ? ++Astro.props.depth : 0;
const pages =
  typeof Astro.props.pages === "undefined"
    ? makeTree(Astro.props.paths, Astro.props.currentPath)
    : Astro.props.pages;

const Wrapper = depth ? Fragment : "nav";

// {!depth && <Debug {pages} />}
---

<Wrapper>
  <ul>
    {
      "children" in pages &&
        Object.values(pages.children).map((page: any, i) => (
          <li class:list={[{ selected: page.selected }, `depth-${depth}`]}>
            <a
              href={
                typeof page?.slug !== "undefined"
                  ? `/${page.slug.replace(/index$/, "")}`
                  : undefined
              }
            >
              {page?.title}
            </a>
            {"children" in page && <Astro.self depth={depth} pages={page} />}
          </li>
        ))
    }
  </ul>
</Wrapper>
