---
import { bookshopName } from "@mws-astro/util";

export interface Props {
  contentBlocks: any[];
  "bookshop:live"?: boolean;
  "data-lightbox"?: string;
}

const { contentBlocks, "data-lightbox": lightbox } = Astro.props;

const frontmatter = contentBlocks?.find(
  (b) => b._bookshop_name === "_meta",
)?.frontmatter;

const status = frontmatter?.status;

const components: Record<string, any> = {};
const componentImports = import.meta.glob(
  ["/src/mws-astro/src/components/**/*.astro"],
  {
    eager: true,
  },
);

const componentOverrides = import.meta.glob(["/src/components/**/*.astro"], {
  eager: true,
});

Object.entries(componentImports).forEach(
  ([path, obj]: [string, any]) =>
    (components[bookshopName(path)] = obj.default),
);

Object.entries(componentOverrides).forEach(
  ([path, obj]: [string, any]) =>
    (components[bookshopName(path)] = obj.default),
);

if (ENV_BOOKSHOP_LIVE) {
  console.info("[Page] Props:", Astro.props);
  console.info("[Page] Content Blocks:", Object.keys(components));
}

const pagefind = status ? (status === "online" ? "" : undefined) : true;
---

<main data-pagefind-body={pagefind} data-lightbox={lightbox}>
  {
    contentBlocks?.map((block: any, i: number) => {
      if ((block._bookshop_name as string).startsWith("_")) return;
      const Component = components[block._bookshop_name];
      if (Component) {
        return (
          <Component
            {...block}
            _meta={frontmatter}
            background_loading={i ? "lazy" : "eager"}
            key={String(i)}
          />
        );
      }
      const warnstring = `[${Astro.self.name}] Component ${block._bookshop_name} could not be found!`;
      console.warn(warnstring);
      return <div class="missing-component">{warnstring}</div>;
    })
  }
</main>
