---
import {
  default as Section,
  type Props as SectionProps,
} from "@layouts/Section.astro";
import { bookshopName } from "@mws-astro/util";
import Icon from "@shared/icon.astro";
import { preferences } from "@shared/preferences";
const defaults = preferences.components?.slider;

const contentBlocks = Astro.props.content_blocks;
const components: Record<string, any> = Object.fromEntries(
  [
    ...Object.entries(
      import.meta.glob("/src/mws-astro/src/components/**/*.astro", {
        eager: true,
      }),
    ),
    ...Object.entries(
      import.meta.glob("/src/components/**/*.astro", { eager: true }),
    ),
  ].map(([path, obj]: [string, any]) => [bookshopName(path), obj.default]),
);

export interface Props extends Partial<SectionProps> {
  content_blocks: any[];
  height: number;
  gap?: number;
  autoplay?: number;
  perView?: number;
  focus?: "start" | "center" | "end";
  /** @deprecated use float instead. */
  focusAtCenter?: boolean;
  /** @deprecated use align. */
  focusAt?: number;
  bound?: boolean;
  showBullets?: boolean;
  showArrows?: boolean;
  transition?: "slider" | "carousel" | "fader";
  animationDuration?: number;
  hoverpause?: boolean;
  minSlideWidth?: number;
  prevArrowIcon?: string;
  nextArrowIcon?: string;
  dotIcon?: string;
  hideUI?: boolean;
}

const {
  content,
  autoplay,
  perView,
  focus = Astro.props.focusAtCenter
    ? "center"
    : Astro.props.focusAt === 0
      ? "start"
      : "center",
  bound,
  transition,
  animationDuration,
  showBullets,
  showArrows,
  hoverpause,
  minSlideWidth,
  prevArrowIcon = defaults?.prevArrowIcon ?? "carbon:arrow-left",
  nextArrowIcon = defaults?.nextArrowIcon ?? "carbon:arrow-right",
  dotIcon = defaults?.dotIcon ?? "carbon:dot-mark",
  hideUI = defaults?.hideUI ?? false,
  key,
} = Astro.props;
const id = "glide" + "-" + (key || "");

function data(prop: any) {
  return prop ? (prop === true ? "" : prop.toString()) : undefined;
}
---

<Section component="slider" {...Astro.props}>
  <div
    class:list={["embla", { hideUI }]}
    data-autoplay={data(autoplay && autoplay * 1000)}
    data-hoverpause={data(autoplay && hoverpause)}
    data-transition={data(transition?.toLowerCase())}
    data-duration={data(animationDuration && animationDuration * 100)}
    data-focus={data(focus)}
    data-bound={data(bound)}
    data-min-slide-width={data(minSlideWidth)}
    style={{
      "--perView": transition?.toLowerCase() === "fader" ? 1 : (perView ?? 1),
    }}
  >
    <div class="embla__viewport">
      <div class="embla__container">
        {
          contentBlocks.map((block: any, i: number) => {
            if (block._bookshop_name === "layout/slider") return;

            const Component = components[block._bookshop_name];
            block.content ??= content;

            if (Component) {
              return (
                <div class:list={["embla__slide"]}>
                  <Component
                    {...block}
                    key={(key || "") + "-" + i.toString()}
                  />
                </div>
              );
            }
            const warnstring = `[${Astro.self.name}] Component ${block._bookshop_name} could not be found!`;
            console.warn(warnstring);
            return <div class="missing-component">{warnstring}</div>;
          })
        }
      </div>
    </div>

    {showBullets && <div class="embla__dots" />}

    {
      showArrows && (
        <>
          <button class="embla__prev">
            <Icon name={prevArrowIcon} height="3rem" />
          </button>
          <button class="embla__next">
            <Icon name={nextArrowIcon} height="3rem" />
          </button>
        </>
      )
    }

    <template type="text/template" class="embla__dot__template">
      <button class="embla__dot"><Icon name={dotIcon} height="2rem" /></button>
    </template>
  </div>
</Section>

<script src="./slider"></script>

<style>
  .embla {
    position: relative;
    anchor-scope: all;
    --slide-spacing: 10px;
  }

  :where(:root) {
    --slider-color: rgb(var(--text-color));
  }

  .embla__viewport {
    overflow: hidden;
    anchor-name: --embla-viewport;
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    flex-basis: round(up, calc(100% / var(--perView)), 1px);
    padding-left: var(--slide-spacing);
  }

  .hideUI {
    .embla__prev,
    .embla__next,
    .embla__dots {
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    &:hover {
      .embla__prev,
      .embla__next,
      .embla__dots {
        opacity: 1;
      }
    }
  }

  .embla__prev,
  .embla__next {
    position-anchor: --embla-viewport;
    border: 0;
    position: absolute;
    padding: 1rem;
    color: rgb(from var(--slider-dot-color, var(--slider-color)) r g b);
    border-radius: 10rem;
    backdrop-filter: blur(4px) invert(0.1);

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .embla__prev {
    left: 1rem;
    position-area: var(--slider-prev-position, left);
  }

  .embla__next {
    right: 1rem;
    position-area: var(--slider-next-position, right);
  }

  .embla__dots {
    position-anchor: --embla-viewport;
    position-area: var(--slider-dot-position, bottom);
    position: absolute;
  }

  .embla__dot {
    opacity: 0.2;
    border: 0;
    color: rgb(from var(--slider-dot-color, var(--slider-color)) r g b);
    padding: 1rem;
    line-height: 1;

    transition: opacity 0.4s ease;
    opacity: 0.2;

    .icon {
      transform: scale(0.5);
      transition: transform 0.4s ease;
    }

    animation-timing-function: ease-in;
    animation-duration: var(--embla-autoplay-animation-duration);

    &:hover {
      opacity: 0.6;

      .icon {
        transform: scale(0.8);
      }
    }

    &.embla__dot--selected {
      opacity: 1;

      .icon {
        transform: scale(1);
      }
    }
  }

  .embla__dots.embla__autoplay {
    &:has(> .embla__dot--selected:last-child) > :first-child {
      animation-name: embla-autoplay;
    }

    > .embla__dot--selected + .embla__dot {
      animation-name: embla-autoplay;
    }
  }

  @keyframes embla-autoplay {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
</style>
