---
import Label from '@components/form/label.astro';
export interface Props {
  name: string;
  label: string;
  placeholder: string;
  required: boolean;
  minlength: number;
  maxlength: number;
  key?: string;
}

const { name, label, placeholder, required, key } = Astro.props;
const minlength = Astro.props.minlength ? Astro.props.minlength : undefined;
const maxlength = Astro.props.maxlength ? Astro.props.maxlength : undefined;
const id = (name || "") + "-" + (key || "");
---

<div class="input textarea">
  <Label for={id} {required}>{label}</Label>
  <textarea
    {id}
    name={name}
    {required}
    aria-required={required}
    placeholder={placeholder}
    minlength={minlength}
    maxlength={maxlength}></textarea>
</div>

<style>
  textarea {
    width: 100%;
    background-color: rgb(var(--form-background));
    border-radius: var(--border-radius);
    border: var(--form-border);
  }
</style>