---
export interface Props {
  name: string;
  label: string;
  placeholder: string;
  required: boolean;
  key?: string;
}

const { name, label, placeholder, required, key } = Astro.props;
const id = (name || "") + "-" + (key || "");
---

<div class="input email">
  <label for={id}>{label}</label>
  <input
    type="email"
    name={name}
    {id}
    {required}
    placeholder={placeholder}
    maxlength="254"
  />
</div>
