---
export interface Props {
  name: string;
  label: string;
  placeholder: string;
  required: boolean;
}

const { name, label, placeholder, required } = Astro.props;
---

<label for={name}>{label}</label>
<input
  type="email"
  name={name}
  {required}
  placeholder={placeholder}
  maxlength="64"
/>

<style lang="scss">
  input {
    margin-bottom: 1rem;
  }
</style>
