---
import preferences from "@data/preferences.json";
import Icon from "@shared/icon.astro";

const icons: Record<string, string> = {
  twitter: "fa6-brands:square-x-twitter",
  facebook: "fa6-brands:square-facebook",
  instagram: "fa6-brands:square-instagram",
  telephone: "fa6-solid:square-phone",
};

const socials: Record<string, string>[] = preferences.general.social.map(
  (s) => {
    let social = { icon: icons[s.name] };
    return Object.assign(social, s);
  }
);
---

<ul class="social">
  {
    socials.map((s) =>
      s.title ? (
        <li>
          <a
            href={s.link}
            class={s.name}
            rel="noopener noreferrer"
            target="_blank"
            title={s.title}
          >
            {s.icon && <Icon name={s.icon} height={"1.8em"} />}
            <span>{s.title}</span>
          </a>
        </li>
      ) : (
        ""
      )
    )
  }
</ul>

<style lang="scss">
  .social {
    color: var(--text-color);
    display: flex;
    justify-content: flex-end;
    // height: 100%;
    padding: 1rem;
    margin-top: 0;
    padding-right: var(--text-gap);
    align-items: center;
    list-style-type: none;
    column-gap: var(--text-gap);
  }

  a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;

    // Accessible hiding of label text by default
    span {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .telephone {
    span {
      all: unset;
    }
  }
</style>
