---
import { Gallery } from "../types";

export interface Props {
  gallery: Gallery;
  background?: string;
}

const { gallery } = Astro.props;
const columns = gallery.columns;
const columnGap = gallery.columnGap || "1rem";
---

<div class="gallery">
  {
    gallery.images.map((img) => (
      <div class="gallery-item">
        <a href={img.link}>
          <figure>
            <img src={img.image} alt={img.alt} />
            {(img.title || img.description) && (
              <figcaption>
                <h3>{img.title}</h3>
                <p>{img.description}</p>
              </figcaption>
            )}
          </figure>
        </a>
      </div>
    ))
  }
</div>

<style define:vars={{ columns, columnGap }}>
  .gallery {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: 1fr;
    gap: var(--columnGap);
    padding: var(--columnGap);
  }

  img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gallery-item {
    line-height: 0;
    position: relative;
  }

  figcaption {
    padding: 2vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
  }
</style>
