---
import { Slider } from "../types";

export interface Props {
  slider: Slider;
  background?: string;
}

const { slider, background } = Astro.props;
---

<div class="slider" data-flickity={JSON.stringify(slider.options)}>
  {
    slider.images.map((img) => (
      <div class="slider-item">
        <a href={img.link}>
          <figure>
            <img
              src={img.image}
              alt={img.alt}
              height={img.height}
              width={img.width}
            />
            {(img.title || img.description) && (
              <figcaption>
                <h3>{img.title}</h3>
                <p>{img.description}</p>
              </figcaption>
            )}
          </figure>
        </a>
      </div>
    ))
  }
</div>

<style is:global>
  .panelBackground .slider,
  .panelBackground .flickity-viewport {
    position: absolute;
    inset: 0;
    padding: 0;
    margin: 0;
  }

  .panelBackground .slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .panelBackground a {
    position: absolute;
    inset: 0;
  }

  .panelBackground figure {
    height: 100%;
  }

  .panelBackground .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .panelBackground .slider figure {
    margin: 0;
    position: relative;
  }

  .panelBackground .slider figure figcaption {
    position: absolute;
    bottom: 0;
  }

  .carousel {
    background: #eee;
  }

  .carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8c8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }

  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
</style>
