---
import { Slider } from "../types";

export interface Props {
  slider: Slider;
  background?: string;
}

const { slider, background } = Astro.props;
---

<div class="slider" data-flickity={JSON.stringify(slider.options)}>
  {
    slider.images.map((img) => (
      <div class="slider-item">
        <a href={img.link}>
          <figure>
            <img
              src={img.image}
              alt={img.alt}
              height={img.height}
              width={img.width}
            />
            {(img.title || img.description) && (
              <figcaption>
                <h3>{img.title}</h3>
                <p>{img.description}</p>
              </figcaption>
            )}
          </figure>
        </a>
      </div>
    ))
  }
</div>

<style is:global>
  .panelBackground .slider,
  .panelBackground .flickity-viewport {
    position: absolute;
    inset: 0;
    padding: 0;
    margin: 0;
  }

  .panelBackground .slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* a {
          position:absolute;
          inset: 0;
      } */

  .panelBackground .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .panelBackground .slider figure {
    margin: 0;
    position: relative;
  }

  .panelBackground .slider figure figcaption {
    position: absolute;
    bottom: 0;
  }
</style>
