---
export interface Props {
  text: string;
}

const { text } = Astro.props;

// const liveEditor = import.meta.env.ENV_BOOKSHOP_LIVE ? true : false;
// <div style="padding: 2rem;">
//   <p>Test string: <span style="font-weight: bold;">{Astro.props.text}</span></p>
//   <p>
//     Live editing status: <span style="font-weight: bold;">
//       {import.meta.env.ENV_BOOKSHOP_LIVE ? "On" : "Off"}
//     </span>
//   </p>
// </div>

const envEditor = !(
  // @ts-expect-error TS2304
  (typeof ENV_BOOKSHOP_LIVE == "boolean" && !ENV_BOOKSHOP_LIVE)
);

// @ts-expect-error TS2304
const bookshop_flag = ENV_BOOKSHOP_LIVE;
const typeof_bookshop_flag = typeof bookshop_flag;
---

<div>
  <p>Live Editing Status: <span id="astro-test">{String(envEditor)}</span></p>
  <p>ENV_BOOKSHOP_LIVE: <span>{String(bookshop_flag)}</span></p>
  <p>typeof ENV_BOOKSHOP_LIVE: <span>{typeof_bookshop_flag}</span></p>
  <p>Test data: <span>{text}</span></p>
</div>

<style>
  #astro-test {
    background-color: lightcoral;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  div {
    position: absolute;
    z-index: 10000;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #f0f0f0;
    background-color: white;
    top: 0;
    right: 0;
    box-shadow: 0.5rem 0.5rem 2rem #00000011;
  }

  span {
    font-weight: bold;
  }
</style>
<style is:global>
  .cms-editor-active #astro-test {
    background-color: greenyellow;
  }
</style>
