---
export interface Props {
  name: string;
  label: string;
  placeholder: string;
  required: boolean;
  minlength: number;
  maxlength: number;
}

const { name, label, placeholder, required } = Astro.props;
const minlength = Astro.props.minlength ? Astro.props.minlength : undefined;
const maxlength = Astro.props.maxlength ? Astro.props.maxlength : undefined;
---

<label for={name}>{label}</label>
<input
  type="text"
  name={name}
  {required}
  placeholder={placeholder}
  minlength={minlength}
  maxlength={maxlength}
/>
