---
import MarkdownIt from "markdown-it";
import Lightbox from "@components/lightbox/lightbox.astro";
import { Image } from "astro:assets";

const md = new MarkdownIt({ html: true });

export interface Props {
  images: any[];
  height: number;
  columns: number;
  indent: boolean;
  key?: string;
}

const { images, height, indent, key } = Astro.props;
// const imagePaths = images.map((i) => i.image);
const assets = await Astro.glob("/src/assets/**/*");

const imageAssets = images.map((img) => {
  const k = assets.findIndex((j) => j.default.src.includes(img.image));
  const i = Object.assign({}, img);
  if (k >= 0) i.image = assets[k].default;
  return i;
});

const columns = Astro.props.columns || images.length;
const id = `gallery${key}`;
---

<section
  {id}
  class={`gallery ${indent ? "" : "no-indent"}`}
  style={{ "--height": height, "--columns": columns }}
>
  {
    imageAssets.map((img, i) => (
      <figure class="gallery-item">
        <Image
          data-lightbox={`${id}-${i}`}
          src={img.image}
          alt=""
          height={512}
          width={512}
        />

        {(img.title || img.description) && (
          <figcaption>
            {img.title && <h3>{img.title}</h3>}
            {img.description && <div set:html={md.render(img.description)} />}
          </figcaption>
        )}
      </figure>
    ))
  }

  <Lightbox collection={id}>
    {
      imageAssets.map((img, i) => (
        <img
          src={img.image?.src || img.image}
          alt=""
          data-lightbox={`${id}-${i}`}
          loading="lazy"
          decoding="async"
        />
      ))
    }
  </Lightbox>
</section>

<style lang="scss">
  section.gallery {
    /* height: calc(var(--height) * 1vh); */
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  .gallery {
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    // grid-auto-rows: 1fr;
    grid-auto-flow: row;
    // gap: var(--columnGap);
    // padding: var(--columnGap);
    // height: 100%;
  }

  .gallery-item {
    // aspect-ratio: 1;
    // line-height: 0;
    position: relative;
    // width: 100%;
    // height: 100%;
    // overflow: hidden;

    img {
      // aspect-ratio: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    figcaption {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // inset: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2rem;
      background: linear-gradient(to right, #ffffffdd, #ffffff99);
    }
  }
</style>
