---
import Label from '@components/form/label.astro';
export interface Props {
  name: string;
  label: string;
  checked: boolean;
  required: boolean;
  key?: string;
}

const { name, label, required, key } = Astro.props;
const checked = Astro.props.checked ? true : undefined;
const id = (name || "") + "-" + (key || "");
---

<div class="input checkbox">
  <input type="checkbox" {name} {id} {required} aria-required={required} {checked} />
  <Label for={id} {required}>{label}</Label>
</div>
<style>
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .2rem 1rem;
  }

  input {
    flex: 0 1 1em;
  }

  label {
    margin: 0;
  }
</style>
