---
import Label from '@components/form/label.astro';
export interface Props {
  name: string;
  label: string;
  required: boolean;
  options: string[];
  key?: string;
}

const { name, label, required, key, options } = Astro.props;
const id = (name || "") + "-" + (key || "");
---

<div class="input select">
  <Label for={id} {required}>{label}</Label>
  <select {name} {id} {required} aria-required={required}>
    <option value="">-- Select --</option>
    {options && options.map((opt, i) => <option value={opt}>{opt}</option>)}
  </select>
</div>

<style>
  select {
    width: 100%;
    background-color: rgb(var(--form-background));
    border-radius: var(--border-radius);
    border: var(--form-border);
  }
</style>