---
import Gallery from "../components/Gallery.astro";
import Slider from "../components/Slider.astro";

const { frontmatter } = Astro.props;
const background = frontmatter.background;
const backgroundImage = frontmatter.backgroundImage;
const backgroundColor = frontmatter.background;
const foregroundColor = frontmatter.foreground;
const panelHeight = frontmatter.panelHeight;
const indent = frontmatter.indent;
const gallery = frontmatter.gallery;
const slider = frontmatter.slider;
const panelLayout = frontmatter.panelLayout;
const uniqueid = frontmatter.url.split("__").pop();
---

<article class={panelLayout} data-section-name={uniqueid}>
  <div class="panelBackground">
    {background == "image" && <img src={backgroundImage} />}
    {
      background == "slider" && (
        <Slider slider={slider} background="background" />
      )
    }
    {
      background == "gallery" && (
        <Gallery gallery={gallery} background="background" />
      )
    }
  </div>
  <slot />
</article>
<style
  lang="scss"
  define:vars={{
    backgroundColor,
    foregroundColor,
    indent,
    panelHeight,
  }}
>
  article {
    position: relative;
    color: var(--foregroundColor);
    background: var(--backgroundColor);
    padding: var(--indent);
    column-gap: var(--column-gap);
    min-height: var(--panelHeight);
  }
</style>
