---
import _preferences from "@data/preferences.json";
const preferences = _preferences as unknown as Preferences;

export interface Props {
  logo?: string;
  alt?: string;
  title?: string;
  link?: string;
  showOnMobile?: boolean;
}

const {
  logo = preferences.header.logo_image,
  alt = `${preferences.general.site_name} Logo`,
  title = "Home",
  link = "/",
  showOnMobile = true,
} = Astro.props;
---

<a
  class:list={["inline-logo", { "mobile-hide": !showOnMobile }]}
  href={link}
  {title}
>
  <img src={logo} {alt} />
</a>

<style>
  a {
    display: block;
    width: fit-content;
    height: 100%;
  }

  img {
    max-height: 100%;
    width: auto;
    padding: var(--mws-astro-logo-padding, 1rem);
  }

  /*:global(body):not(.mobile-nav) a + :global(div),
  :global(body):not(.mobile-nav) a + :global(script) + :global(div) {
    margin-left: auto;
  }*/
  :global(body):not(.mobile-nav) {
    & a + :global(div),
    & a + :global(script) + :global(div) {
      margin-left: auto;
    }
  }

  :global(body).mobile-nav a.mobile-hide {
    display: none;
  }
</style>
