---
import _preferences from "@data/preferences.json";
const preferences = _preferences as unknown as Preferences;

export interface Props {
  logo?: string;
  mobile_logo?: string | null;
  alt?: string;
  title?: string;
  link?: string;
  showOnMobile?: boolean;
}

const {
  logo = preferences.header.logo_image,
  mobile_logo = preferences.header.mobile_logo_image ?? undefined,
  alt = `${preferences.general.site_name} Logo`,
  title = "Home",
  link = "/",
  showOnMobile = true,
} = Astro.props;

const hasMobileLogo = !!mobile_logo && mobile_logo !== logo;
---

<a
  class:list={["inline-logo", { "mobile-hide": !showOnMobile, "has-mobile-logo": hasMobileLogo }]}
  href={link}
  {title}
>
  <img class="desktop-logo" src={logo} {alt} fetchpriority="high" />
  {hasMobileLogo && <img class="mobile-logo" src={mobile_logo} {alt} fetchpriority="high" />}
</a>

<style>
  a {
    display: block;
    width: fit-content;
    height: 100%;
  }

  img {
    max-height: 100%;
    width: auto;
    padding: var(--mws-astro-logo-padding, 1rem);
  }

  :global(body):not(.mobile-nav) {
    & a + :global(div),
    & a + :global(script) + :global(div) {
      margin-left: auto;
    }
  }

  :global(body).mobile-nav a.mobile-hide {
    display: none;
  }

  :global(body).mobile-nav a.has-mobile-logo .desktop-logo {
    display: none;
  }

  :global(body):not(.mobile-nav) .mobile-logo {
    display: none;
  }
</style>
