---
export interface props {
  lat: number;
  lng: number;
  zoom?: number;
  height: number;
  style?: any;
  indent?: boolean;
  key?: string;
}

import preferences from "data/preferences.json";
const { lat, lng, zoom, key, indent } = Astro.props;

const apiKey = preferences.maps.api_key;
const height = Astro.props.height + "vh";
const mapId = "map-" + key;
---

<section class:list={["map", { "no-indent": !indent }]}>
  <div
    id={mapId}
    class="map-box"
    data-map={mapId}
    data-lat={lat}
    data-lng={lng}
    data-zoom={zoom}
    data-api-key={apiKey}
  >
  </div>
</section>

<script>
  import { Loader } from "@googlemaps/js-api-loader";

  const apiKey = document
    .querySelector("[data-map][data-api-key]")
    ?.getAttribute("data-api-key");

  if (!apiKey) throw TypeError("Missing Google Maps API Key");

  const loader = new Loader({
    apiKey,
    version: "weekly",
  });

  loader.load().then(async () => {
    const { Map } = (await google.maps.importLibrary(
      "maps"
    )) as google.maps.MapsLibrary;

    document.querySelectorAll("[data-map]").forEach((e, i) => {
      new Map(e as HTMLElement, {
        center: {
          lat: Number(e.getAttribute("data-lat")),
          lng: Number(e.getAttribute("data-lng")),
        },
        zoom: Number(e.getAttribute("data-zoom")),
      });
    });
  });
</script>

<style>
  .map-box {
    min-height: 100%;
  }
</style>
