---
import { bookshopName } from "@mws-astro/util";
import Icon from "@shared/icon.astro";
import _preferences from "@data/preferences.json";
const preferences = _preferences as unknown as Preferences;

export interface Props {
  title: string;
  items: any[];
  horizontal?: boolean;
  selected?: "selected" | "ancestor" | false;
  options?: DropdownOptions;
  key: string;
  d?: number;
}

export type DropdownOptions = {
  titleCaret: boolean | string;
  titleCaretOpen: string;
  showDropdownCaret: boolean;
  centerDropdown: boolean;
};

const {
  title,
  items,
  horizontal = false,
  selected,
  options: _options,
  key,
  d,
} = Astro.props;

const options = {
  titleCaret: _options?.titleCaret ?? preferences.header.titleCaret ?? true,
  titleCaretOpen: _options?.titleCaretOpen ?? preferences.header.titleCaretOpen,
  showDropdownCaret:
    _options?.showDropdownCaret ?? preferences.header.show_arrow ?? false,
  centerDropdown:
    _options?.centerDropdown ?? preferences.header.center_dropdowns ?? false,
};

const components: Record<string, any> = {};
const componentImports = import.meta.glob(
  ["/src/mws-astro/src/components/navigation/**/*.astro"],
  {
    eager: true,
  },
);

const componentOverrides = import.meta.glob(
  ["/src/components/navigation/**/*.astro"],
  {
    eager: true,
  },
);

Object.entries(componentImports).forEach(
  ([path, obj]: [string, any]) =>
    (components[bookshopName(path)] = obj.default),
);

Object.entries(componentOverrides).forEach(
  ([path, obj]: [string, any]) =>
    (components[bookshopName(path)] = obj.default),
);

const _d = d !== undefined;

const placement = (() => {
  if (horizontal) return "right-start";
  return options.centerDropdown ? "bottom" : "bottom-start";
})();

const titleCaret = (() => {
  if (options.titleCaret)
    return typeof options.titleCaret === "string"
      ? options.titleCaret
      : "carbon:caret-down";
  return false;
})();
const { titleCaretOpen } = options;
---

<div
  id={key}
  class:list={["dropdown", { [`d${d}`]: d }, { selected }]}
  aria-labelledby={`${key}-label`}
  aria-haspopup="menu"
  data-placement={placement}
  data-depth={d}
  tabindex="0"
>
  <span
    id={`${key}-label`}
    class:list={[
      "dropdown-label",
      "navi-label",
      { [`d${d}`]: d },
      { selected },
    ]}
  >
    {title}
    {
      titleCaret && (
        <Icon
          name={titleCaret}
          class="dropdown-title-caret closed"
          height="1em"
          inheritScope={true}
        />
      )
    }
    {
      titleCaret && titleCaretOpen && (
        <Icon
          name={titleCaretOpen}
          class="dropdown-title-caret open"
          height="1em"
          inheritScope={true}
        />
      )
    }
  </span>
  <div class="dropdown-items">
    {preferences.header.show_arrow && <div class="dropdown-arrow" />}
    {
      items.map((item: any, i: number) => {
        var Component = components[item._bookshop_name];
        let horizontal = undefined;
        if (item._bookshop_name === "navigation/dropdown") {
          Component = Astro.self;
          horizontal = true;
        }
        if (Component) {
          return (
            <Component
              d={(_d && d + 1) || undefined}
              {...item}
              {horizontal}
              key={(key || "") + "-" + i.toString()}
            />
          );
        }
      })
    }
  </div>
</div>

<script src="./dropdown"></script>

<style>
  .dropdown {
    position: relative;
    display: block;

    & > .dropdown-items {
      display: none;
      top: 0;

      flex-direction: column;
      flex-wrap: wrap;
      align-items: stretch;

      gap: 0.5rem;
      padding: 1rem;

      z-index: 999;
    }

    .navigation-item {
      display: contents;
    }

    &.floating > .dropdown-items {
      position: fixed;
      box-shadow: 2px 2px 16px #00000044;
      background-color: rgb(
        var(--header-dropdown-background-color, var(--header-background-color))
      );
      border: var(--header-dropdown-border-width, var(--header-border-width))
        solid
        rgb(var(--header-dropdown-border-color, var(--header-border-color)));
      border-radius: var(--header-border-radius);

      color: rgb(var(--header-dropdown-color, var(--header-color)));
    }

    &.dropdown-open > .dropdown-items {
      display: flex;
    }

    .dropdown-label {
      user-select: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      gap: 0.5em;

      font-size: var(--header-font-size);
      padding: var(--header-item-padding);
      border-radius: var(--header-item-border-radius);
      color: inherit;
      font-weight: inherit;

      &:hover {
        color: rgb(from var(--header-hover-color, currentColor) r g b);
        background-color: rgb(from var(--header-hover-background-color) r g b);
      }
    }

    &.selected > .dropdown-label {
      font-weight: bold;
    }

    .dropdown-arrow {
      display: none;
      position: absolute;

      z-index: 899;

      height: var(--header-arrow-height, var(--header-arrow-size));
      width: var(--header-arrow-width, var(--header-arrow-size));

      background-color: var(--header-arrow-color, inherit);
      clip-path: var(
        --header-arrow-clip-path,
        polygon(50% 0%, 0% 100%, 100% 100%)
      );
    }

    /* &.floating.dropdown-open > .dropdown-overlay .dropdown-arrow { */
    &.floating.dropdown-open > .dropdown-items > .dropdown-arrow {
      display: block;
    }
  }

  .dropdown-open > .dropdown-label > :global(.dropdown-title-caret).closed {
    transform: rotate(180deg);
  }

  .dropdown-label > .dropdown-title-caret.open {
    display: none;
  }

  .dropdown-open > .dropdown-label:has(.dropdown-title-caret.open) {
    .closed {
      display: none;
    }

    .open {
      display: block;
    }
  }

  /*.dropdown-open*/
</style>
