---
export interface props {
  lat: number;
  lng: number;
  zoom?: number;
  mapType?: string;
  marker?: boolean;
  height: number;
  style?: any;
  indent?: boolean;
  key?: string;
}

import preferences from "@data/preferences.json";
const { lat, lng, zoom, marker, key, indent } = Astro.props;

const apiKey = preferences.API.google_maps.api_key;
const height = Astro.props.height + "vh";
const mapType = Astro.props.mapType ?? "hybrid";
const mapId = "map-" + key;
---

<section
  class:list={["map", { "no-indent": !indent }]}
  style=`--height: ${height};`
>
  <div
    id={mapId}
    class="map-box"
    data-map={mapId}
    data-lat={lat}
    data-lng={lng}
    data-zoom={zoom}
    data-marker={marker}
    data-map-type={mapType}
    data-api-key={apiKey}
  >
  </div>
</section>

<script>
  import { Loader } from "@googlemaps/js-api-loader";
  import { styles } from "@custom/map.json";

  const apiKey = document
    .querySelector("[data-map][data-api-key]")
    ?.getAttribute("data-api-key");

  if (!apiKey) throw TypeError("Missing Google Maps API Key");

  const loader = new Loader({
    apiKey,
    version: "weekly",
  });

  loader.load().then(async () => {
    const { Map } = (await google.maps.importLibrary(
      "maps"
    )) as google.maps.MapsLibrary;
    const { Marker } = await google.maps.importLibrary("marker") as google.maps.MarkerLibrary;

    document.querySelectorAll("[data-map]").forEach((e, i) => {
      if (!(e instanceof HTMLElement)) return;

      const position = {lat: Number(e.dataset?.lat), lng: Number(e.dataset?.lng)};

      const map = new Map(e, {
        center: position,
        zoom: Number(e.dataset?.zoom),
        mapTypeId: e.dataset?.mapType,
        ...(e.dataset?.mapType == "roadmap" && {styles: styles}),
      });

      if ("marker" in e.dataset) {
        new Marker({
          position,
          map
        })
      }
    });
  });
</script>

<style>
  .map-box {
    min-height: 100%;
  }

  section {
    /* min-height: var(--height); */
    height: var(--height);
  }
</style>
