---
import { default as Section, type Props as SectionProps } from "@layouts/Section.astro";
import preferences from "@data/preferences.json";

export interface Props extends Partial<SectionProps> {
    location?: string;
    lat?: number;
    lng?: number;
    zoom?: number;
    mapType?: string;
    mapId?: string;
}

const {
    location = "Perth City, WA",
    lat,
    lng,
    zoom,
} = Astro.props;

const bs = ENV_BOOKSHOP_LIVE ?? false;

const apiKey =
    bs || import.meta.env.DEV
        ? preferences.API.google_maps.dev_key
        : preferences.API.google_maps.api_key;

const mapType = Astro.props.mapType ?? "roadmap";

const mapMode = location ? "place" : "view";
const mapURL = new URL(
    `https://www.google.com/maps/embed/v1/${mapMode}?key=${apiKey}`,
);

location && mapURL.searchParams.append("q", location);
lat && lng && mapURL.searchParams.append("center", `${lat},${lng}`);
zoom && mapURL.searchParams.append("zoom", zoom?.toString());
mapType && mapURL.searchParams.append("maptype", mapType?.toString());
---

<Section component="map" {...Astro.props}>
    <iframe
        src={mapURL.toString()}
        width="450"
        height="250"
        referrerpolicy="no-referrer-when-downgrade"
        loading="lazy"
        style="border: 0"
        allowfullscreen></iframe>
</Section>

<style>
    .map-box {
        min-height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
</style>
