---
export interface Props {
  name: string;
  label: string;
  checked: boolean;
  required: boolean;
  key?: string;
}

const { name, label, required, key } = Astro.props;
const checked = Astro.props.checked ? true : undefined;
const id = (name || "") + "-" + (key || "");
---

<div class="checkbox">
  <input type="checkbox" {name} {id} {required} {checked} />
  <label for={id}>{label}</label>
</div>
<style>
  div {
    display: flex;
    gap: 1.5rem;
  }
</style>
