---
import SharedImage from "@shared/Image.astro";
import Markdown from "@shared/Markdown.astro";
import Lightbox from "@components/lightbox/lightbox.astro";
import Section from "@layouts/Section.astro";
import preferences from "@data/preferences.json";
import { convertColorString } from "@mws-astro/util";

export interface Props {
    image: any;
    title?: string;
    description?: string;
    alt: string;
    height: number;
    columns: number;
    aspect?: number;
    indent: boolean;
    foreground_color?: string;
    background_color?: string;
    lightbox?: boolean;
    key?: string;
    classes?: any;
}

const {
    image,
    title,
    description,
    alt,
    height,
    aspect,
    indent,
    foreground_color,
    background_color,
    lightbox,
    key,
    classes,
} = Astro.props;

const foreground = convertColorString(foreground_color);
const background = convertColorString(background_color);
const id = `image-${key}`;
const figcaption = title || description;
---

<Section component="image" classes={{ lightbox, ...classes }} {...Astro.props}>
    <figure
        data-lightbox={lightbox && id}
        style={{
            ...(aspect && { "--aspect": aspect }),
        }}
    >
        <SharedImage
            {image}
            {alt}
            aspect={aspect ?? 1.8}
            width={preferences.page.maximum_page_width}
        />

        {
            figcaption && (
                <figcaption
                    style={{
                        ...(background && { "--background-color": background }),
                        ...(foreground && { "--text-color": foreground }),
                        ...(foreground && { "--heading-color": foreground }),
                    }}
                >
                    {title && <h3>{title}</h3>}
                    {description && <Markdown content={description} />}
                </figcaption>
            )
        }
    </figure>

    {
        lightbox && (
            <Lightbox collection={id}>
                <figure
                    data-lightbox={id}
                    class:list={{ caption: title || description }}
                >
                    <SharedImage {image} {alt} />

                    {figcaption && (
                        <figcaption>
                            {title && <h3>{title}</h3>}
                            {description && <Markdown content={description} />}
                        </figcaption>
                    )}
                </figure>
            </Lightbox>
        )
    }
</Section>

<style>
    figure {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
</style>
