---
import { preferences } from "@millstreamwebsoftware/mws-astro/shared/preferences.ts";
import Footer from "@millstreamwebsoftware/mws-astro/shared/Footer.astro";
import Header from "@millstreamwebsoftware/mws-astro/shared/Header.astro";
import Opengraph from "@millstreamwebsoftware/mws-astro/shared/Opengraph.astro";

import * as git from "git-rev-sync";

import "sanitize.css";
import "sanitize.css/forms.css";
import "sanitize.css/typography.css";
import "@millstreamwebsoftware/mws-astro/styles/styles.scss";
import "@custom/custom.scss";

export interface Props {
  title?: string;
  description?: string | null;
  thumbnail?: any;
  status?: PageStatus;
  show_global_header?: boolean;
  show_global_footer?: boolean;
  classes?: any;
}

const {
  title,
  description,
  thumbnail,
  status = "online",
  show_global_header = true,
  show_global_footer = true,
  classes,
} = Astro.props;

const pageWidth = preferences.page.maximum_page_width;
const recaptcha = preferences.API?.google_recaptcha_v3?.api_key;
---

<!doctype html>
<html
  lang="en"
  class:list={[classes, {"recaptcha-hidden": !!recaptcha}]}
  style={{ ...(pageWidth && { "--page-max-width": `${pageWidth}px` }) }}
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="revision" content={git.long("./")} />
    <meta name="format-detection" content="telephone=no" />
    {status !== "online" && <meta name="robots" content="noindex" />}
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script>
      // Cloudcannon editable-regions component registry
      import { components } from "virtual:mws-astro/components";
      import { registerAstroComponent } from "@cloudcannon/editable-regions/astro";

      console.info(`✨ Registering ${Object.keys(components).length} components. `)

      Object.entries(components).map(([name, module]) => {
        registerAstroComponent(name, module);
      });
    </script>
    {
      !!recaptcha && (
        <>
          <script
            id="recaptchav3"
            data-token={recaptcha}
            src={`https://www.google.com/recaptcha/api.js?render=${recaptcha}`}
            is:inline
          />
          <style is:global>
            html.recaptcha-hidden .grecaptcha-badge {
              visibility: hidden !important;
            }
          </style>
        </>
      )
    }
    <Opengraph {title} {description} {thumbnail} />

    <script>
      window.addEventListener(
        "scroll",
        () => {
          if (document.documentElement.classList.contains("mobile-noscroll"))
            return;
          document.documentElement.classList.toggle(
            "scrolled",
            window.scrollY > 100,
          );
        },
        { passive: true },
      );
    </script>
  </head>
  <body>
    {show_global_header && <Header />}
    <article>
      <slot />
      {show_global_footer && <Footer />}
    </article>
  </body>
</html>
