---
import Header from "@shared/Header.astro";
import Footer from "@shared/Footer.astro";
import Opengraph from "@shared/Opengraph.astro";
import { ViewTransitions } from "astro:transitions";

import * as git from "git-rev-sync";

import "sanitize.css";
import "sanitize.css/forms.css";
import "sanitize.css/typography.css";
import "@styles/styles.scss";

export interface Props {
    title?: string;
    description?: string;
    id?: string;
    content_blocks?: Array<Record<string, any>>;
    show_global_header?: boolean;
    show_global_footer?: boolean;
    paths?: any[];
    currentPath?: string;
    thumbnail?: any;
    classes?: string[];
}

const {
    title,
    description,
    show_global_header,
    show_global_footer,
    id,
    paths,
    currentPath,
    thumbnail,
    classes,
} = Astro.props;
import preferences from "@data/preferences.json";

const headerHeight = undefined; //preferences.header.height;
const style: any = {};
const pageWidth = preferences.page.maximum_page_width;
const transitions = false;


pageWidth && (style["--page-max-width"] = pageWidth + "px");
headerHeight && (style["--header-height"] = headerHeight + "px");
---

<!doctype html>
<html lang="en" class:list={classes} style={style} transition:animate="none">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="revision" content={git.long("./")} />
        <meta name="format-detection" content="telephone=no" />

        <Opengraph {title} {description} {thumbnail} />

        <script>
            window.addEventListener(
                "scroll",
                () => {
                    if (document.documentElement.classList.contains("mobile-noscroll")) return;
                    document.documentElement.classList.toggle(
                        "scrolled",
                        window.scrollY > 100,
                    );
                },
                { passive: true },
            );
        </script>
    </head>
    <body>
        {show_global_header && <Header transition:persist {id} {paths} {currentPath} />}
        <article transition:animate="fade">
            <slot />
            {show_global_footer && <Footer />}
        </article>
    </body>
</html>
