---
import Header from "@shared/Header.astro";
import Footer from "@shared/Footer.astro";

import * as git from "git-rev-sync";

import "sanitize.css";
import "sanitize.css/forms.css";
import "sanitize.css/typography.css";
import "@styles/styles.scss";

export interface Props {
  title?: string;
  id?: string;
  content_blocks?: Array<Record<string, any>>;
  show_global_header?: boolean;
  show_global_footer?: boolean;
  paths?: any[];
  currentPath?: string;
}

const mimetypes: any = {
  ico: "image/vnd.microsoft.icon",
  png: "image/png",
  jpeg: "image/jpeg",
  svg: "image/svg+xml",
};

const {
  title,
  content_blocks,
  show_global_header,
  show_global_footer,
  id,
  paths,
  currentPath,
} = Astro.props;
import preferences from "@data/preferences.json";

const pageTitle = title + preferences.general.browser_window_title_suffix;
const headerHeight = undefined; //preferences.header.height;
const style: any = {};
const pageWidth = preferences.page.maximum_page_width;
const favicon = preferences.general.favicon;
const appleTouchIcon = preferences.general["apple-touch-icon"];
const faviconType = mimetypes[favicon.substring(favicon.lastIndexOf(".") + 1)];

pageWidth && (style["--page-max-width"] = pageWidth + "px");
headerHeight && (style["--header-height"] = headerHeight + "px");
---

<!doctype html>
<html lang="en" style={style}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="revision" content={git.long("./")} />
    <link rel="icon" href={favicon} type={faviconType} />
    <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon} />
    <title>{pageTitle}</title>
  </head>
  <body>
    {show_global_header && <Header {id} {paths} {currentPath} />}
    <article>
      <slot />
      {show_global_footer && <Footer />}
    </article>
  </body>
</html>
