---
import preferences from "@data/preferences.json";
import Footer from "@shared/Footer.astro";
import Header from "@shared/Header.astro";
import Opengraph from "@shared/Opengraph.astro";

import * as git from "git-rev-sync";

import "@custom/custom.scss";
import "@styles/styles.scss";
import "sanitize.css";
import "sanitize.css/forms.css";
import "sanitize.css/typography.css";

import { BUILDMODE } from "astro:env/client";
// if (BUILDMODE === "EDITOR") {
//   import("@mws-astro/register-components");
// }

export interface Props {
  title?: string;
  description?: string | null;
  thumbnail?: any;
  status?: PageStatus;
  show_global_header?: boolean;
  show_global_footer?: boolean;
  classes?: any;
}

const {
  title,
  description,
  thumbnail,
  status = "online",
  show_global_header = true,
  show_global_footer = true,
  classes,
} = Astro.props;

const pageWidth = preferences.page.maximum_page_width;
---

<!doctype html>
<html
  lang="en"
  class:list={classes}
  style={{ ...(pageWidth && { "--page-max-width": `${pageWidth}px` }) }}
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="revision" content={git.long("./")} />
    <meta name="format-detection" content="telephone=no" />
    {status !== "online" && <meta name="robots" content="noindex" />}
    <link rel="sitemap" href="/sitemap-index.xml" />

    <Opengraph {title} {description} {thumbnail} />

    {BUILDMODE === "EDITOR" && <script src="@mws-astro/register-components"></script> }

    <script>
      window.addEventListener(
        "scroll",
        () => {
          if (document.documentElement.classList.contains("mobile-noscroll"))
            return;
          document.documentElement.classList.toggle(
            "scrolled",
            window.scrollY > 100,
          );
        },
        { passive: true },
      );
    </script>
  </head>
  <body>
    {show_global_header && <Header />}
    <article>
      <slot />
      {show_global_footer && <Footer />}
    </article>
  </body>
</html>
