---
import Page from "@shared/Page.astro";
import Layout from "./Layout.astro";
import { type CollectionEntry } from "astro:content";

type Props = {
  frontmatter: {
    title: string;
    content_blocks: Array<Record<string, any>>;
  };
  id?: string;
  paths?: any[];
  currentPath?: string;
  _pages: CollectionEntry<"pages">[];
};

if (!Astro.props.frontmatter) {
  throw new Error("Page frontmatter must be defined");
}
const props = Astro.props.frontmatter;
const { id, paths, currentPath, _pages } = Astro.props;
// const _livetest = await getCollection("pages");
---

<Layout {...props} {id} {paths} {currentPath}>
  <p>{typeof _pages}</p>
  <Page bookshop:live contentBlocks={props.content_blocks} {_pages} />
</Layout>
